@using CoinApp.Models.CoinData;
@{
    ViewBag.Title = "CryptocurrencyQuotes";
}

<table style="width:inherit">
    <tr>
        <td><a href="CryptocurrencyQuotes?value=0">Название</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=1">Символ</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=2">Логотип</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=3">Цена в USD</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=4">Изменения цены<br />за 1 час</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=5">Изменения цены<br />за 24 часа</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=6">Капитализации<br />USD</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=7">Время обновления данных</a>                               </td>
        <td><a href="CryptocurrencyQuotes?value=8">Обновить данные</a>                               </td>
    </tr>
    @foreach (Data obj in ViewBag.Data)
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Symbol</td>
            <td>@obj.Slug</td>
            <td>@obj.Quote.Usd.Price</td>
            <td>@obj.Quote.Usd.Percent_change_1h</td>
            <td>@obj.Quote.Usd.Percent_change_24h</td>
            <td>@obj.Quote.Usd.Market_cap</td>
            <Td>@obj.Quote.Usd.Last_updated</Td>
        </tr>
    }
</table>